<div header id=header__ID>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand d-none d-lg-block" onclick="$vm.nav_load_module('monthly');">
            <div class=large_logo__ID>
                <div class=large_logo_large_label__ID>
                    Business Portal
                </div>
                <div class=large_logo_small_label__ID>
                    on-demand business applications
                </div>
            </div>
        </a>
        <a class="navbar-brand d-lg-none" onclick="$vm.nav_load_module('monthly');">
            <div class=small_logo__ID>Business Portal</div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbars__ID">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" onclick="$vm.nav_load_module('home');"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" onclick="$vm.nav_load_module('monthly');">Calendar</a></li>
                <li class="nav-item"><a class="nav-link" onclick="$vm.nav_load_module('daily');">Booking</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrator</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
                        <a class="dropdown-item" onclick="$vm.nav_load_module('booking_record');">Booking Records</a>
                        <a class="dropdown-item" onclick="$vm.nav_load_module('room');">Add/Remove Rooms</a>
                    </div>
                </li>
                <li><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
    </script>
    <style>
        #header__ID{
            /*background: rgba(128,128,128,0.8);*/
        }
        #header__ID a{
            cursor:pointer;
            /*color:#fff;*/
        }
        /*
        #header__ID a:hover{
            color:#2c5d90;
        }
        #navbars__ID div.dropdown-menu a{
            color:#000!Important;
        }
        #navbars__ID div.dropdown-menu a:hover{
            color:#2c5d90!Important;
        }
        */
        .large_logo__ID{
            color:#fff;
            padding-left:30px;
        }
        .large_logo_large_label__ID{
            font-size:140%;
        }
        .large_logo_small_label__ID{
            font-size:64%;
        }
        .small_logo__ID{
            color:#fff;
        }
        #navbars__ID{
            padding-left:50px;
        }
    </style>
</div>
